on:
  workflow_call:

permissions:
  contents: read
  deployments: write
  issues: write
  pull-requests: write

jobs:
  check-commits:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: AlaskaAirlines/auro-actions/.github/actions/check-commits@dev
        with:
          os: ubuntu-latest
          node-version: 22
          github-token: ${{ secrets.GITHUB_TOKEN }}
